{% extends 'base.html' %}

{% block content %}
<div class="container">
	<h1>New note</h1>
	<form method="POST" class="form-horizontal" id="id-note-form">
		{% csrf_token %}
		{% if form.errors %}
     	<div class="alert alert-warning" role="alert">
     		Correct please the following errors
     	</div>
     	{% endif %}

		{% for field in form %}
			<div class="form-group {% if field.errors %}has-error{% endif %}">
				<label class="control-label col-sm-2" for="id_title" >{{field.label}}</label>
				<div class="col-sm-10">
					{{field}}
					{% if field.errors %}
						<span class="help-block">{{ field.errors.as_text }}</span>
					{% endif %}
				</div>
			</div>
		{% endfor %}

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<input class="btn btn btn-default" type="submit" value="Save"/>
		</div>
	</div>
	</form>
</div>
{% endblock %}
