{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Note's title</title>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
  
	</head>


	<body>

	{% for note in notes %}
		  <h1>{{ note.title }}</h1>
		<p>{{ note.text|linebreaksbr }}</p>
		  <div class="date">
			published: {{note.published_date}}
		  </div>
		<br>
	 {% endfor %}
	</body>
</html>
