{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title> Requests </title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>

    <!-- dummy line -->
    <div class="note-num"></div>
    {% include 'sup_header.html' %}

    <br/>

    <div class="container">
        <div class="page-header">
            <h1>Requests list:<h1>
        </div>
    </div>

    <div class="container" id="req-list-id">
        {# list of request data from ws#}
    </div>

    <!-- Javascripts Inclusion -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
    <script src="//cdn.jsdelivr.net/bootstrap/3.3.0/js/bootstrap.min.js"></script>

<!--     <script src="{% static 'js/requests.js' %}"></script> -->
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/ws_request.js' %}"></script>
    <script src="{% static 'js/requests.js' %}"></script>

</body>

</html>