
#page-header {
  margin-top: 0;
  padding: 20px 20px 20px 40px;
}

#page-header h1 a{
  font-weight: bold;
  font-size: 36pt;
}

@media{
  body h1.media-heading a{
    color:black;
  }
}

.media-heading{
  text-align: justify;
}

.date {
  float: right;
  color: #828282;
}

